.root {
  tr {
    background: #303e4a;

    th {
      text-align: left;
      font-size: 18px;
      color: #fff;
      line-height: 1.2;
      font-weight: unset;
      padding: 13px 15px;
    }
  }
}
