@import '../../../styles/scss/base/base';

.root {
  .body {
    margin-top: #{$headerHeight}px;

    display: flex;
    flex-direction: row;

    .querySidebarContainer {
      background: lighten($primaryColor, 56%);
      height: calc(100vh - #{$headerHeight}px);
      width: #{$sidebarContainerWidth}px;
      padding: 15px 5px;
      overflow-y: auto;
    }

    .bodyContainer {
      display: flex;
      flex-direction: column;

      .queryContainer {
        .queryInputFormWrapper {
        }
        .queryResultsWrapper {
        }
      }
    }
  }
}
