@import '../../styles/scss/base/base';

.root {
  width: 100%;
  padding: 7px 0;
  cursor: pointer;
  text-overflow: ellipsis ellipsis;
  overflow: hidden;
  white-space: nowrap;

  span {
    color: #2c3e50;

    &:hover {
      color: #a35e07 !important;
    }

    &.isSelected {
      color: #990b7b;
    }
  }
}
